
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Make an order</h1>
		<a href="/logout">Log out</a><a href="/">Home</a>
		</header>
		<h2>Make your order below</h2>
		<form method="post" action="/order">
		<label>
			<p1>Choose your item</p1>
			<select name="item" value="" required>
				<option placeholder="choose your item"</option>
				<option value ="Sandwich">Sandwich</option>
	</body>	
</html>	
